* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #writeThis {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  margin: 10px;
}

.container .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .text .letter {
  width: 100px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1px;
}

.container .text .letter .hiddenPixel,
.container .text .letter .visiblePixel {
  width: calc(100% / 8);
  height: calc(100% / 8);
}

.container .text .letter .visiblePixel {
  background: white;
  margin: 0;
}

.container .text .letter .hiddenPixel {
  background: white;
}

@-webkit-keyframes pixelAnimation {
  0% {
    background: red;
  }
  30% {
    background: red;
    opacity: 0.1;
    -webkit-transform: translate(-100%, -200%) scale(1.9);
            transform: translate(-100%, -200%) scale(1.9);
  }
  31% {
    background: green;
  }
  50% {
    opacity: 0.6;
    background: green;
    -webkit-transform: translate(100%, 200%) scale(1.7);
            transform: translate(100%, 200%) scale(1.7);
  }
  51% {
    background: orange;
  }
  80% {
    opacity: 0.8;
    background: orange;
    -webkit-transform: translate(-200%, 100%) scale(0.7);
            transform: translate(-200%, 100%) scale(0.7);
  }
  100% {
    opacity: 1;
    background: #2196F3;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pixelAnimation {
  0% {
    background: red;
  }
  30% {
    background: red;
    opacity: 0.1;
    -webkit-transform: translate(-100%, -200%) scale(1.9);
            transform: translate(-100%, -200%) scale(1.9);
  }
  31% {
    background: green;
  }
  50% {
    opacity: 0.6;
    background: green;
    -webkit-transform: translate(100%, 200%) scale(1.7);
            transform: translate(100%, 200%) scale(1.7);
  }
  51% {
    background: orange;
  }
  80% {
    opacity: 0.8;
    background: orange;
    -webkit-transform: translate(-200%, 100%) scale(0.7);
            transform: translate(-200%, 100%) scale(0.7);
  }
  100% {
    opacity: 1;
    background: #2196F3;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */